.nav-tile {
  background: #F4F4F4;
  color: #4E4E4F;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 24px;
  border: 1px solid #D0D0D0;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.nav-tile:hover {
  background: #3481E8;
  color: #FFFFFF;
  border: none;
}
